/*for reset all stuff*/
@import url("../third-party/css/reset.min.css");
@import url(http://fonts.googleapis.com/css?family=Dosis:300,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


/* Extra small devices (phones, less than 768px) */

    /*test tools ----------------------------------------------------------------------------------------------------*/
    .b { border: 2px dotted mediumvioletred;}

    /*Global setting ------------------------------------------------------------------------------------------------*/
    html, body { height: 100%;  width: 100% }
    .row { width: 100%;  margin: 0;  padding: 0 }
    h2 { font-weight: 700}

    .container-fluid {
        padding: 0;
        margin: 0;
        background: url("../img/bg.jpg") center fixed;

        min-height: 320px;
        height: 100%;
        position: relative;

        font-family: 'Open Sans', sans-serif;
    }

    /*social color ------------------------------------------------------------------------------------------------- */
    .gmail {color: #dd4b39}
    .phone {color: #ec971f}
    .linkedin {color: #007bb6}
    .github {color: #101010}
    .blog {color: #004D40}
    .twitter {color: #00aced}
    .cv { color: #673AB7}
    .feed {color: #FF3D00}


    #intro { min-height: 320px; height: 100% }

    /*navigation part -----------------------------------------------------------------------------------------------*/
    .nav {
        font-weight: 300;
        border-bottom: 1px solid #999999;
        background-color: #222222;
        height: 15%;

        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-items: center;
        text-align: center;
    }

    .nav ul {
        -webkit-flex: 1; /* Safari 6.1+ */
        flex: 1;
    }

    .nav li { display: inline;  list-style-type: none;  padding: 0.5em; color:#66afe9 }
    .nav a:link { color: #66afe9; text-decoration: none }
    .nav a:hover { color: #999999 }
    .nav a:visited { color: #204d74 }

    /* title paragraph ----------------------------------------------------------------------------------------------*/
    #title {
        background-color: rgba(176,190,197 ,0.4);
        height: 85%;

        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: 300;
        font-size: 2.2em;

        padding: 0 1em;
        border-bottom: 1px solid #999999;

        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-items: center;
    }

    #title p {
        line-height: 1.3;

        -webkit-flex: 1; /* Safari 6.1+ */
        flex: 1;
    }

    #title strong {
        font-weight: 500;
        font-size: 1.4em;
        color: #403280;
    }


    /* service part -------------------------------------------------------------------------------------------------*/
    #service {
        padding: 2em 0;
        font-weight: 300;
        min-height: 100%;

        display: -webkit-flex; /* Safari */
        -webkit-align-content: space-around; /* Safari 7.0+ */
        display: flex;
        align-content: space-around;

        background-color: #FAFAFA;
    }

    #service .content {
        -webkit-flex: 1; /* Safari 6.1+ */
        flex: 1;
        margin: 10%
    }

    #service .item {
        margin: 1em;
        clear: both;
    }

    #service p {padding: 1em; text-align: justify; color: #3c3c3c; line-height: 2 }
    #service span { margin: 0.6em 0 0 0; float: left }
    #service .red { color: palevioletred }
    #service .orange { color: darkorange }
    #service .green { color: forestgreen }


    /* skills part --------------------------------------------------------------------------------------------------*/
    #skill {
        padding: 1em;
        min-height: 100%;

        font-weight: 300;
        line-height: 2;
        color: #B0BEC5;
        background-color: #37474F;

    }

    #skill .content { margin: 5% }
    #skill .item { padding: 1em }
    #skill p { padding: 0.5em }
    #skill h3 { display: inline; color: #CFD8DC; font-weight: 400 }

    /* Info part ----------------------------------------------------------------------------------------------------*/
    #info {
        font-weight: 300;
        min-height: 100%;

        display: -webkit-flex; /* Safari */
        -webkit-align-content: space-around; /* Safari 7.0+ */
        display: flex;
        align-content: space-around;

        color: ghostwhite;
        background-color: #01579B;
        border-top: 1px solid #999999;
        border-bottom: 1px solid #999999;
    }

    #info .content { -webkit-flex: 1; flex: 1; margin: 5% }
    #info .item {padding: 0.3em 0}
    #info h2 {padding: 1em 0}
    #info p { vertical-align: bottom; padding: 0.6em}
    #info span {float: left; margin: 0 0.5em 0 5%; clear: both }
    #info a:link { color: #f5f5f5; text-decoration: none }
    #info a:active { color: lightgrey }
    #info a:visited{ color: navajowhite }



    /*footer part ---------------------------------------------------------------------------------------------------*/
    #footer {
        background-color: #101010;
        padding: 0.5em;
        color: #00aced;
        text-align: center;
        font-size: 0.8em;
        font-weight: 200;
    }




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
{
    .nav {height: 10%; text-align: left}
    .nav ul{margin-left: 5%}

    #title {
        height: 90%;
        font-size: 1.2em;
        font-weight: 400;
        line-height: 2;
        text-align: center;
    }
    #title .social { margin-top: 10% }
    #title .social a { margin: 0.15em; opacity: 0.8 }
    #title .social a:hover { margin: 0.15em; opacity: 1 }


    .slider {padding: 0.5em; text-align: justify; border-left: 1px dotted grey}
    .slider span {float: left; margin-right: 0.5em }
    .slider p {display: inline; vertical-align: sub }

    .slide {display: none; clear: both}
    .active-slide {display: block}

    .slider-nav {margin-top: 1em; text-align: center; color: #37474F}
    .slider-nav a {color: #37474F}
    .slider-nav ul{padding:0; margin:0 0.5em;  display: inline}
    .slider-nav li{list-style-type: none;  display: inline}
    .active-dot { color: #B0BEC5}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)
{
    .nav {height: 8% }
    #title {height: 92%; font-size: 1.3em}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
    .nav { background-color: rgba(176,190,197 ,0.4); border: 0;font-weight: 700 }
    .nav li {color: #1565C0}
    .nav a:link {color: #1565C0}
    .nav a:hover {color: #37474F}
    .nav a:visited {color: #607D8B}

    #title {height: 95%;  font-size: 1.4em}
}